{% extends 'base_layout.html' %}
{% load static %}
    {% block content%}
    <div class="content-detail">
        <li class="list-detail">
            <img src="{{MEDIA_URL}}{{scholar.thumb_nail.url}}" alt="">
            <h1 class="title">{{scholar.scholar_name}}</h1>
            <ul><p class="detail-title">장학혜택:</p> {{scholar.scholar_reward}}</ul>
            <ul><p class="detail-title">선발대상:</p> {{scholar.scholar_who_draft}}</ul>
            <ul><p class="detail-title">접수방법:</p> {{scholar.scholar_howto}}</ul>
            <ul><p class="detail-title">제출서류:</p> {{scholar.scholar_needs}}</ul>
            <ul><p class="detail-title">선발인원:</p> {{scholar.scholar_recruitment_num}}</ul>
            <ul><p class="detail-title">모집기간:</p> {{scholar.scholar_application_start}}~{{scholar.scholar_application_end}}</ul>
            <ul><p class="detail-title">장학재단명:</p> {{scholar.scholar_foundation_name}}</ul>
            <ul><p class="detail-title">문의:</p> {{scholar.scholar_qna}}</ul>
            <ul><p class="detail-title">양식:</p>{%if scholar.form_file %}<a href="{{MEDIA_ROOT}}{{scholar.form_file.url}}">{{scholar.form_file}}</a>{% endif%}</ul>
        </li>
    </div>
    {% endblock %}